a.link2 {color: lightpink}
a.link2:link {
    color: lightpink;
    text-decoration: none;
}
a.link2:active {
    color: lightpink;
}
a.link2:visited {
    color: lightpink;
}
a.link2:hover {
    color:aquamarine;
}