body {background-color: lightpink}

@font-face {font-family: kaekiri;
    src: url("Taylor Swift Handwriting.ttf");
}
@font-face {
    font-family: Poor Story;
    src: url("PoorStory-Regular.ttf");
}

h1.kaekiri {
    font-family: kaekiri;
    text-align: center;}

.font {font-family: "Poor Story";
    font-size: 17px;

}

.column {
    float: left;
    /*border: 1px solid black */
}

.left {
    width:18%
}

.middle {
    width:45%
}

.right {
    width:37%
}

.row:after {
    content: "";
    display: table;
    clear: both;}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;}
}